@import url("https://www.nosiphus.com/master.css");

:root {
	
	--background-color: #620000;
	--box-shadow-light: #530000;
	--box-shadow-dark: #710000;
	--link-color: #FF0000;
	--text-color: #EB4034;
	
}
